@font-face {
    font-family: 'gotham-rounded';
    src:  url('../fonts/GothamRnd-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'gotham-rounded';
    src:  url('../fonts/GothamRnd-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

#videospace .watermark {
    // width: $watermarkWidth / 3;
    height: $watermarkHeight / 3;
}
